@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Play", sans-serif;
	color: #ffffff;
}

.font-primary {
	color: #ffffff;
}

.font-secondary {
	color: #ff5500;
}

.font-thirdnary {
	color: #999b9d;
}

.icon-primary {
	color: #ffffff;
}

.icon-secondary {
	color: #999b9d;
}

.icon-inactive {
	color: #4e4e4e;
}

.icon-important {
	color: #d64242;
}

.bg-primary {
	background-color: #161616;
}

.bg-secondary {
	background-color: #4e4e4e;
}

.bg-thirdnary {
	background-color: #a0a0a0;
}
.bg-important {
	background-color: #ff5500;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}
p {
	font-size: 10px;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center > * {
	width: 100%;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.public_bold {
	color: #ff5500;
	font-size: 48px;
}

.public_layout_container {
	background: url("./assets/images/background_image/world_map.jpg") no-repeat center center fixed;
    height: 100vh;
	width: 100vw;
	background-size: cover;
}

.auth_input {
	color: white;
	background-color: #525252;
}

.auth_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	background-color: #404040;
}

.container {
	margin: 64px auto 165px;
	background-color: #4e4e4e;
	width: 100%;
}

.NavBar_container {
	width: 100vw;
	height: 64px;
	position: relative;
	top: 0;
	background-color: #404040;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavBar_left {
	margin-left: 30px;
	display: flex;
	align-items: center;
}

.NavBar_right {
	margin-right: 15px;
	display: flex;
	align-items: center;
}

.NavBar_left > .btn-secondary {
	background-color: transparent;
	width: 95px;
	height: 60px;
	border: none;
}

.NavBar_active {
	border-bottom: 2px solid #ff5500;
}

.NavBar_search {
	width: 215px;
	height: 32px;
	border: 1px solid #999b9d;
	background-color: #4e4e4e;
	color: #999b9d;
}

.friend_btn {
	background-color: transparent;
	color: #ffffff;
	border: 2px solid white;
	border-radius: none !important;
}

.friend_btn:hover {
	color: #ff5500;
}

.NavBar_profile {
	background-color: #4e4e4e;
	width: 240px;
	height: 40px;
}

.NavBar_profile_img {
	border-radius: 50px;
	background-color: #999b9d;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vl {
	border-left: 2px solid #999b9d;
	height: 30px;
}

.profile_btn {
	background-color: transparent;
	border: none;
}

.footer_container {
	position: fixed;
	bottom: 0;
	height: 165px;
	width: 100%;
	background-color: #404040;
	display: flex;
	justify-content: space-around;
}

.footer_logo {
	width: 16px;
	height: 16px;
}

.footer_list {
	display: flex;
	flex-direction: column;
}

.footer_header {
	margin-top: 16px;
	width: 16px;
	color: #ffffff;
	width: 100%;
}

.footer_item {
	display: flex;
	margin-left: 20px;
}

.main {
	background-color: #4e4e4e;
	height: 100vh;
}

.homepage_container {
	width: 100%;
	background-color: #4e4e4e;
	height: 100%;
}

.outlet_header {
	width: 100%;
}

.outlet_header > hr {
	width: 85%;
}

.homepage_body {
	width: 100%;
}

.homepage_card {
	width: 344px;
	height: 266px;
	background-color: #404040;
	margin: 40px 40px;
}

.lol-bg {
	background-image: url(./assets//images//background_image/lol.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.csgo-bg {
	background-image: url(./assets/images/background_image/csgo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/* height: auto; */
}

.valorant-bg {
	background-image: url(./assets/images/background_image/valorant.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.homepage_thumbnail_title {
	width: 100%;
	background-color: #4e4e4e;
	opacity: 65%;
	display: flex;
	justify-content: center;
}

.lightGrey {
	color: #999b9d;
}

/* overide */
.MuiCard-root .custom-card {
	background-color: #404040 !important;
	font-weight: 500;
}

.MuiCardHeader-root {
	padding: 0 16px !important;
}

.MuiCardHeader-content > .MuiCardHeader-title {
	font-size: 18px !important;
	font-weight: 600;
}

.MuiCardHeader-content > .MuiCardHeader-subheader {
	font-size: 16px !important;
	font-weight: 600;
	color: #999b9d;
}

.MuiPaper-root {
	padding: 12px !important;
}

.scrim_container {
	width: 100vw;
	background-color: #4e4e4e;
}

.createscrim_container {
	background-color: #404040;
	width: 70%;
	border-radius: 15px;
	border: 1px solid #999b9d;
}

.menu_item {
	background-color: #999b9d !important;
	color: #ffffff;
}

.select_mui:hover {
	border: 2px solid #ff5500 !important;
}

.filterscrim_container {
	width: 70%;
	background-color: #404040;
	box-shadow: 2px 2px rgba(0, 0, 0, 50%);
	border-radius: 5px;
}

.findscrim_body {
	width: 70%;
}

.scrimcard_container {
	background-color: #404040;
	height: 290px;
}

.scrimcard_datetime {
	background-color: rgba(18, 18, 18, 50%);
	text-align: center;
	width: 120px;
	height: 24px;
	border-radius: 20px;
}

.mapname_container {
	background-color: rgba(18, 18, 18, 50%);
	width: auto;
	text-align: center;
	border-radius: 15px;
	border: 1px solid #999b9d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mapthumbnail_container {
	height: 40px;
	background-color: rgba(18, 18, 18, 50%);
	display: flex;
	justify-content: center;
}

.map_pic {
	width: 60px;
	height: 38px;
}

.setting_navbar {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #999b9d;
	background-color: #4e4e4e;
	display: flex;
	align-items: center;
}

.setting_navbar_button {
	border: none;
	background-color: transparent;
	height: 100%;
}

.setting_navbar_active {
	border-bottom: 2px solid #ff5500 !important;
}

.setting_container {
	background-color: #4e4e4e;
	width: 100%;
	height: 68vh;
}

.setting_input_box {
	border-bottom: 1px solid #999b9d;
	display: flex;
	justify-content: space-between;
	align-items: start;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.riot_account_container {
	background-color: rgba(24, 24, 24, 32%);
	height: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.modal_add_account {
	width: 450px;
	height: 408px;
	background-color: #1f1f1f;
}

.modal_add_account_image {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

.riot_account_display {
	background-color: rgba(24, 24, 24, 32%);
	width: 50%;
	/* height: 150px; */
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #999b9d;
}

.val_thumbnail_setting {
	width: 90px;
	height: 140px;
}

.user_profile_header {
	background-image: url("./assets/images/background_image/world_map.jpg");
	width: 100vw;
	height: 242px;
}

.user_profile_picture {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	background-color: #999b9d;
}

.profile_icon {
	font-size: 100px;
	color: #222126;
}

.profile_title_container {
	width: 400px;
	height: 120px;
	background-color: rgba(0, 0, 0, 38%);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user_body_container {
	background-color: #4e4e4e;
	width: 100vw;
	/* height: 51vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user_stats_card {
	background-color: #161616;
	/* width: 250px; */
	height: 100px;
}

.sidebar_container {
	width: 305px;
	height: auto;
	background-color: #383838;
}

.team_body_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	background-color: #4e4e4e;
	width: 100%;
}

.team_stats_box {
	width: 470px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #161616;
}

.team_member_item {
	width: 366px;
	height: 75px;
	border: 1px solid #999b9d;
	display: flex;
	align-items: center;
	justify-content: start;
	margin: 10px 0;
}
.team_member_item > h4 {
	margin-left: 10px;
}
.team_member_profile {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background-color: #999b9d;
	color: #4e4e4e;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
}

.member_list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
}
