@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Play", sans-serif;
	color: #ffffff;
}

.font-primary {
	color: #ffffff;
}

.font-secondary {
	color: #ff5500;
}

.font-thirdnary {
	color: #999b9d;
}

.icon-primary {
	color: #ffffff;
}

.icon-secondary {
	color: #999b9d;
}

.icon-inactive {
	color: #4e4e4e;
}

.icon-important {
	color: #d64242;
}

.bg-primary {
	background-color: #161616;
}

.bg-secondary {
	background-color: #4e4e4e;
}

.bg-thirdnary {
	background-color: #a0a0a0;
}
.bg-important {
	background-color: #ff5500;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}
p {
	font-size: 10px;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.public_bold {
	color: #ff5500;
	font-size: 48px;
}

.public_layout_container {
	background-image: url("./assets/images/background_image/world_map.jpg");
	height: 817px;
	width: 100vw;
}

.auth_input {
	color: white;
	background-color: #525252;
}

.auth_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	background-color: #404040;
}

.NavBar_container {
	width: 100vw;
	height: 64px;
	background-color: #404040;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavBar_left {
	margin-left: 30px;
	display: flex;
	align-items: center;
}

.NavBar_right {
	margin-right: 15px;
	display: flex;
	align-items: center;
}

.NavBar_left > .btn-secondary {
	background-color: transparent;
	width: 95px;
	height: 60px;
	border: none;
}

.NavBar_active {
	border-bottom: 2px solid #ff5500;
}

.NavBar_search {
	width: 215px;
	height: 32px;
	border: 1px solid #999b9d;
	background-color: #4e4e4e;
	color: #999b9d;
}

.friend_btn {
	background-color: transparent;
	color: #ffffff;
	border: 2px solid white;
	border-radius: none !important;
}

.friend_btn:hover {
	color: #ff5500;
}

.NavBar_profile {
	background-color: #4e4e4e;
	width: 240px;
	height: 40px;
}

.NavBar_profile_img {
	border-radius: 50px;
	background-color: #999b9d;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vl {
	border-left: 2px solid #999b9d;
	height: 30px;
}

.profile_btn {
	background-color: transparent;
	border: none;
}

.footer_container {
	height: 165px;
	width: 100%;
	background-color: #404040;
	display: flex;
	justify-content: space-around;
}

.footer_logo {
	width: 16px;
	height: 16px;
}

.footer_list {
	display: flex;
	flex-direction: column;
}

.footer_header {
	color: #ffffff;
	width: 100%;
}

.footer_item {
	display: flex;
	margin-left: 20px;
}

.homepage_container {
	width: 100%;
	background-color: #4e4e4e;
}

.outlet_header {
	width: 100%;
}

.outlet_header > hr {
	width: 85%;
}

.homepage_body {
	width: 100%;
	height: 60vh;
}

.homepage_card {
	width: 344px;
	height: 266px;
	background-color: #404040;
	margin: 40px 40px;
}

.lol-bg {
	background-image: url(./assets//images//background_image/lol.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.csgo-bg {
	background-image: url(./assets/images/background_image/csgo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/* height: auto; */
}

.valorant-bg {
	background-image: url(./assets/images/background_image/valorant.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.homepage_thumbnail_title {
	width: 100%;
	background-color: #4e4e4e;
	opacity: 65%;
	display: flex;
	justify-content: center;
}

.scrim_container {
	width: 100vw;
	background-color: #4e4e4e;
}

.createscrim_container {
	background-color: #404040;
	width: 70%;
	border-radius: 15px;
	border: 1px solid #999b9d;
}

.menu_item {
	background-color: #999b9d !important;
	color: #ffffff;
}

.select_mui:hover {
	border: 2px solid #ff5500 !important;
}
